@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*******************************************************
GLOBALS
*******************************************************/

.block-clear {
  display: block;
  padding:0;
  margin:auto;
}

body {
  padding: 10px;
  max-width: 1300px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: royalblue;;
  text-decoration: underline;
}

a:focus {
  color: royalblue;
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}


/*******************************************************
INPUT WORDS VIEW
*******************************************************/



/* Positioning & basic layout
   ========================================================================== */


/* advertisement */

#right-advertisment {
  position: absolute;
  color: white;
  right: 0;
  top: 45%;
  height: 35%;
  text-align: center;
  float: right;
  display: none;
}

@media only screen and (max-width: 1170px) {
  #right-advertisment {
  color: black;
  }
}

#right-advertisment img{
  float: right;
}


/* Header & top nav*/

#main-navigation {
  border-radius: 10px;
  border: none;
}

#main-navigation div {
  padding:0 15px 0 5px;
}

#main-header {
  text-align: center;
  padding: 0 15px 15px 15px;
  min-height:250px;
}

.main-nav-icon {
  float: left;
}

@media only screen and (max-width: 767px) {
  .main-nav-link {
  margin-left: 20px;
  }
}

.main-nav-link {
  vertical-align: middle;
}

.main-nav-link span {
  line-height: 30px;
  padding-left: 5px;
}



/* Contents */

.input-selector {
  padding-bottom: 25px;
}

.language-selector {
  padding:15px 0;
  margin: auto;
  display: inline-block;
}

.language-selector header {
  text-align: center;
  font-size: 0.8em;
  margin: auto;
}

.language-selector div {
  text-align: center;
  margin: auto;
}

.wordlist-area-input {
  display: none;
  width: 210px;
  height: 400px;
  resize: none;
  outline: none;
}

.a-word {
  display: inline-block;
  width: 220px;
}

.wordlist-lines-input {
  width: 240px;
  display: inline-block;
}

.wordlist-lines-thelines {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}

.wordlist-lines-thelines li {
  padding: 1px;
  margin: auto;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


/* Footer */

#main-footer {
  max-width: 500px;
  margin:auto;
}

/* Color and style
   ========================================================================== */


/* Header & top nav */

#main-header {
  display: block;
  position: relative;
  margin: auto;
}

#main-header h1 {
  padding-top: 20px;
  font-size: 3em;
  font-weight: bold;
  color:midnightblue;
}

#main-header h2 {
  font-size: 1.6em;
}

@media only screen and (max-width: 767px) {
  #main-header {
  height:200px;
  }
}

#main-header:before {
  content: "";
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background: url("../img/map-of-the-world-862719_640-pixabayCC0.jpg") no-repeat center;
  background-size: auto 200px;
  opacity: 0.1;
}

@media only screen and (max-width: 767px) {
  #main-header:before {
  top: 0;
  }
}

#main-navigation {
  background-color: royalblue;
}

#myNavbar ul li a {
  color: lightgrey;
}

#myNavbar ul li a:hover {
  color: white;
}

#myNavbar ul li a:focus {
  color: white;
}


#main-header-flags {
  overflow: hidden;
  position: relative;
  margin: auto;
}

#main-header-flags .overflow-center {
  white-space: nowrap;
  margin-left: -100%;
  margin-right: -100%;
}

#main-header-flags span {
  border-radius: 5px;
  transition: all .3s;
}

#main-header-flags span:hover {
  border-radius: 100%;
}

@media only screen and (max-width: 767px) {
  #main-header-flags {
  display: none;
  }
}

/* Contents */

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.a-word {
  border: 1px solid royalblue;
  border-radius: 5px;
  padding:3px;
}

.wordlist-area-input {
  border: 1px solid royalblue;
  border-radius: 5px;
  padding:3px;
}

.addline-button {
  background-color: white;
  border: 1px solid royalblue;
  color: black;
  padding:3px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 220px;
  margin-top:1px;
}

#wordbyword-button {
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.95em;
  border-radius: 5px;
  width: 230px;
}

#copylists-button {
  background-color: white;
  border: 1px solid royalblue;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.95em;
  border-radius: 5px;
  width: 230px;
  margin-top: 10px;
}

#start-quiz-button {
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  border-radius: 5px;
  width: 250px;
  margin-top: 50px;
}

.language-selector div button {
  background-color: white;
  border: 1px solid royalblue;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  min-width: 220px;
}

/* couldn't find another way to overwrite the button group less css. copied element from console and made different rules */
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  }

/* Footer */

#main-footer {
  padding-top: 50px;
  text-align: center;
  font-size: 0.72em;
  font-color: grey;
}

/*******************************************************
IMPORT/EXPORT VIEW
*******************************************************/

#import-export-container {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  z-index: 2;
  display: none;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 20px;
}

#import-export-container textarea {
  margin: auto;
  width: 70%;
  height: 80%;
  display: block;
  border: 1px solid royalblue;
  border-radius: 5px;
}

#import-export-container button {
  margin: auto;
  font-size: 2em;
  display: block;
  margin-top: 10px;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
}

/*******************************************************
QUIZZ VIEW
*******************************************************/

#quiz-view-container{
  display: none;
}

#quiz-question {
  padding: 15px;
  margin: auto;
}

#quiz-question p {
  font-size: 1.35em;
}

#quiz-answer {
  padding: 15px;
  margin: auto;
}

#the-quiz-answer {
  border: 1px solid royalblue;
  border-radius: 5px;
  padding:3px;
  width: 300px;
}

#quiz-answer-button {
  margin-top: 10px;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 4px;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
}

#quiz-wrong-answer-button {
  margin-top: 10px;
  background-color: red;
  border: 1px solid red;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 5px;
  width: 130px;
}

#quiz-correct-answer-button {
  margin-top: 10px;
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 4px;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
}

#quiz-answer p.the-right-answer {
  padding: 15px;
  margin: auto;
  font-size: 1.3em;
}

#quiz-answer p.quiz-finished{
  padding: 35px;
  margin: auto;
  font-size: 1.45em;
  font-weight: bold;
}

#quiz-answer table {
  margin: auto;
}

#quiz-answer table tr td{
  font-size: 0.95em;
  text-align: center;
  white-space: nowrap;
  border: 1px solid royalblue;
  padding: 3px;
}

#quiz-answer table tr:first-child td{
  font-weight: bold;
}

#quiz-to-start-button {
  margin-top: 40px;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 4px;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 230px;
}